/**
fonts imports
*/
@import url('https://fonts.googleapis.com/css?family=VT323');

/**
Styles
*/
body{
  background-color: #0a0a0a;
  background-image: url("https://www.arivaux.com/prototype/codevember2k18/img/background-texture.png");
  height: 100vh;
  display: flex;
  margin: 0px 10px 0px 10px;
  font-family: 'VT323', monospace;
  letter-spacing: 0.15em;
  font-size: 1.25em;
  text-transform : uppercase;
  color : #7c7c7c;
}

a,
a:active,
a:visited{
  color: #808080;
  -webkit-transition: color 0.25s ease-in-out; /* Safari */
  transition: color 0.25s ease-in-out
}


a:hover{
  color: #fff;;
}

#main{
  margin: auto;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

#title{
  margin-right: 10px;
  padding-top: 5px;
  font-size: 1.5em;;
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

#experiment{
  background: white
  text-align: center;
  margin: 0;
  padding: 0;
}

#infos{
  margin-left: 10px;
  padding-bottom: 5px;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  text-align: right;
}

#stats-container{
  position: absolute;
}
